/* font-family: "IM Fell Great Primer SC", serif; */
/* font-family: "Bellefair", serif; */
:root {
    --brightpurple: #c287e8;
    --lightpurple: #bfacc8;
    --darkpurple: #231d31;
    --grey: #fff7f8;
    --anothergrey: #c8c6d7;
    --darkgrey: #474350;
    --darker-grey: #333333;
    --maybe: #54577c;
    --complementary: #898dc5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bellefair", serif;
}

body {
    background-color: var(--grey);
    background: url('/images/background-overlay.png')  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 3.5rem;
    color: var(--darkergrey);
    text-align: center;
    margin: 1rem 0;
    margin-top: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

p {
    font-size: 1.5rem;
    color: var(--darkgrey);
    text-align: center;
    margin: 1rem;
}


#sign-off {
    font-size: 40px;
    font-family: "IM Fell Great Primer SC", serif;
    color: var(--maybe);
}

#town-forge-btn {
    background-color: white;
    border-left-style: none;
    border-right-style: none;
    border-color: var(--darkpurple);
    color: var(--darkpurple);
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    font-family: "IM Fell Great Primer SC", serif;
    margin: 20px;

}


#town-forge-btn:hover {
    background-color: var(--darkpurple);
    color: white;
}


@media all and (max-width: 968px) {



    #town-forge-btn {
        width: 80%;

    }

}