:root {
    --temp1: #f5f5f5;
    --temp2: #f0f0f0;
    --temp3: #e6e6e6;
    --temp4: #d9d9d9;
    --temp5: #cccccc;
    --temp6: #b3b3b3;
    --temp7: #999999;
    --temp8: #666666;
    --temp9: #4d4d4d;
    --temp10: #333333;
    --temp11: #1a1a1a;
    --temp12: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--temp5);
    background-image: url('images/background-overlay.png');
}

.searchDiv {
    background-color: var(--temp2);
    padding: 10px;
}


.searchInputs {
    padding: 10px;
    width: 100%;
    background-color: var(--temp7);
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px 20px;
    align-items: center;
    position: relative;
    /* Add this */
    z-index: 1;
    /* Add this */
}

.searchInputs>* {
    flex: 1 1 auto;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.amount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    /* background-color: var(--temp2); */
}
#amount-text {

    width:60%;
}

#tool-tip {
    transform: translate(10%, -55%);
    font-size: 1.2em;
}


/* Top Navbar */
.navbar {
    background: #1b1b1b;

}

.navbar:after {
    content: '';
    clear: both;
    display: table;
}

.logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600px;
    line-height: 70px;
    padding-left: 60px;
    /* display: none; */

}

.navbar ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

.navbar ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

#navbarIcon {
    margin-left: 15px;
    font-size: 15px;
}

.navbar ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
        0 0 10px #66ffff;
}

.navbar ul ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: none;

}

.navbar ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 2;

}

.navbar ul ul ul {
    border-top: none;
}

.navbar ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.navbar ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar ul ul li a {
    line-height: 50px;

}

.navbar ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

.nav-show,
.icon {
    display: none;
}



/* -------------------------------------------------------------------------- */


/* Race Dropdown Menu */
nav {
    background: #ffffff;
    width: 250px;
    padding: 8px 25px;
    position: relative;
    border-radius: 5px;
    z-index: 3;
}

nav label {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.button {
    width: 100%;
}

.button span {
    float: right;
    line-height: 35px;
    padding-right: 10px;
    font-size: 40px;
    transition: transform 200ms linear;
}


nav ul {
    position: absolute;
    background: #94a2ac;
    list-style: none;
    top: 50px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
}

[id^=btn]:checked + ul {
    display: block;
    height: 300px;
    overflow-y: auto;
}

nav .menu:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #ffffff;
    right: 30px;
    top: -10px;
    transform: rotate(45deg);
}

nav ul li {
    line-height: 40px;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li label {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

nav ul li a:hover,
nav ul li label:hover {
    color: cyan;
}

nav ul ul {
    position: static;
}

nav ul ul li {
    line-height: 30px;
    border-bottom: none;
}

nav ul ul li a {
    color: #e6e6e6;
    font-size: 17px;
}

nav ul li span {
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 10px;
}

#btn-1,
#btn-2,
#btn-3,
#btn-4 {
    display: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------- */

/* Custom Dropdown Selector */
.custom-select {
    width: 250px;
    position: relative;
}

select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #caced1; /* Underline */
}

.right-label {
    display: flex;
    align-items: center;
}

.right-label input {
    margin-left: 5px;
}
.drop-select {
    width: 250px;
    position: relative;
}

.select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;
    
  
    
    color: #000;
    cursor: pointer;
}

.dropdown-icon::before,
.dropdown-icon::after {
    --size: 0.3rem;
    content: "";
    display: block;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    margin-bottom: 0.1rem;
}

.dropdown-icon::before {
    border-bottom: var(--size) solid black;
}

.dropdown-icon::after {
    border-top: var(--size) solid black;
}

.checkboxes {
    display: none;
    height:400px;
    overflow-y: auto;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    padding: 0.5em;
    background-color: #fff;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.checkboxes label {
    display: block;
    padding: 0.2em 0;
}

.checkboxes input {
    margin-right: 0.5em;
}

.show {
    display: block;
}

.amountSelect{
    width:100px;
}
.gen-btn {
    display: none;
}

.hide-input {
    display: none;
}

#race-section{
    padding-left: 10px;
}

.results{
    padding:10px;
}

/* MEDIA QUERY */
@media all and (max-width: 968px) {
    .navbar ul {
        margin-right: 0px;
        float: left;
    }

    .logo {
        padding-left: 30px;
        width: 100%;
    }

    .navbar ul li,
    .navbar ul ul li {
        display: block;
        width: 100%;
    }

    .navbar ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .navbar ul ul ul li {
        position: static;
    }

    .navbar ul ul li {
        border-bottom: none;
    }

    .navbar ul ul a {
        padding-left: 80px;
    }

    .nav-show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .nav-show:hover {
        color: cyan;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    .navbar ul li a:hover {
        box-shadow: none;
    }

    .nav-show+a,
    ul {
        display: none;
    }

    [id^=nav-btn]:checked+ul,
    [id^=gen-btn]:checked+ul {
        display: block;
    }

    .searchInputs {
        flex-direction: column;
    }
}