:root {
    --temp1: #f5f5f5;
    --temp2: #f0f0f0;
    --temp3: #e6e6e6;
    --temp4: #d9d9d9;
    --temp5: #cccccc;
    --temp6: #b3b3b3;
    --temp7: #999999;
    --temp8: #666666;
    --temp9: #4d4d4d;
    --temp10: #333333;
    --temp11: #1a1a1a;
    --temp12: #000000;

    --maybe: #898dc5;
    /* --brightpurple: #c287e8; */
    /* --lightpurple: #bfacc8; */
    /* --darkpurple: #4a4063; */
    /* --maybe:#54577c; */
    /* --anothergrey: #c8c6d7; */
    /* --grey:#fff7f8; */
    /* --darkgrey: #474350; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--temp5);
    background-image: url('images/background-overlay.png');
}

.searchDiv {
    background-color: var(--temp2);
    padding: 10px;
}

.info {
    padding: 10px;


}

.info p {
    font-family: "Bellefair", serif;
    font-size: 18px;
}

.info h1 {
    font-family: "IM Fell Great Primer SC", serif;
    margin-bottom: 15px;
    font-size: 32px;
}

#character-name b {
    font-family: "IM Fell Great Primer SC", serif;
}

.searchInputs {
    padding: 10px;
    width: 100%;
    background-color: var(--temp7);
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px 20px;
    align-items: center;
    position: relative;
    /* Add this */
    z-index: 1;
    /* Add this */
}

.searchInputs>* {
    flex: 1 1 auto;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.amount {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    /* background-color: var(--temp2); */
}

#amount-text {

    width: 60%;
    font-family: "Bellefair", serif;
}

#tool-tip {
    transform: translate(10%, -55%);
    font-size: 1.2em;
}


/* Top Navbar */
.navbar {
    background: #1b1b1b;

}

.navbar:after {
    content: '';
    clear: both;
    display: table;
}

.logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600px;
    line-height: 70px;
    padding-left: 60px;
    font-family: "IM Fell Great Primer SC", serif;
    /* display: none; */

}

.navbar ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

.navbar ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    padding: 8px 15px;
    font-family: "Bellefair", serif;
}

#navbarIcon {
    margin-left: 15px;
    font-size: 15px;
}

.navbar ul li a:hover {
    color: var(--maybe);
    border-radius: 5px;
}

.navbar ul ul li a:hover {
    color: var(--maybe);
    border-radius: 5px;
    box-shadow: none;

}

.navbar ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid var(--maybe);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 2;

}

.navbar ul ul ul {
    border-top: none;
}

.navbar ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.navbar ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar ul ul li a {
    line-height: 50px;
    font-size: 16px;
    font-family: "Bellefair", serif;

}

.navbar ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

.nav-show,
.icon {
    display: none;
}


#book-title strong {
    font-size: 14px;
    font-family: "IM Fell Great Primer SC", serif;
}

/* -------------------------------------------------------------------------- */




/* Custom Dropdown Selector */
.custom-select {
    width: 250px;
    position: relative;
    font-family: "Bellefair", serif;
}

select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    font-family: "Bellefair", serif;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #caced1;

}

.right-label {
    display: flex;
    align-items: center;
}

.right-label input {
    margin-left: 5px;
}

.drop-select {
    width: 250px;
    position: relative;
}

.select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;



    color: #000;
    cursor: pointer;
    font-family: "Bellefair", serif;
}

.dropdown-icon::before,
.dropdown-icon::after {
    --size: 0.3rem;
    content: "";
    display: block;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    margin-bottom: 0.1rem;
}

.dropdown-icon::before {
    border-bottom: var(--size) solid black;
}

.dropdown-icon::after {
    border-top: var(--size) solid black;
}

#selected-value {
    font-family: "Bellefair", serif;
}

.checkboxes {
    display: none;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    padding: 0.5em;
    background-color: #fff;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.checkboxes label {
    display: block;
    padding: 0.2em 0;
    font-family: "Bellefair", serif;
}

.checkboxes input {
    margin-right: 0.5em;
}

.show {
    display: block;
}

.amountSelect {
    width: 100px;
}

.gen-btn {
    display: none;
}

.hide-input {
    display: none;
}

.race-section {
    padding-left: 10px;
}

#info-explain {
    padding: 10px;
    display: block;
}

#info-explain p {
    margin: 10px;
}

#explain-button {
    display: flex;
    align-items: center;

    padding-top: 10px;
    cursor: pointer;
}

#explain-button p {
    margin-right: 10px;
}

#explain-button button {
    border: none;
}

#explain-button button i {
    display: block;
    transition: all 0.4s ease;
}

/* #explain-button button i:hover {
    transform: rotateZ(-180deg);
} */

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    width: 390px;
    background-color: var(--temp2);
    height: auto;
    padding: 10px;
    position: relative;

}

.character-child {
    border-style: double;
    padding: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.character-personality {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-bottom: 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            transparent,
            var(--temp10) calc(50% - 25%),
            var(--temp10) calc(50% + 25%),
            transparent);
}

#core-hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            transparent,
            var(--temp10) calc(50% - 25%),
            var(--temp10) calc(50% + 25%),
            transparent);
}

.card-buttons {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
}

option {
    font-family: "Bellefair", serif;
}

.card-buttons button {
    background-color: var(--temp8);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
    cursor: pointer;
}

.card-buttons button.lock {
    background-color: var(--temp11);
}

.card-info {
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;

}

.card-info p {
    margin: 0 0 10px;
    font-family: "Bellefair", serif;
}

.title {
    font-weight: bold;
    /* display: block; */
    margin-bottom: 5px;
    font-family: "Bellefair", serif;
}

.appearance-info,
.card-profession,
.character-children {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}



.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
    padding: 20px;
}


/* MEDIA QUERY */
@media all and (max-width: 968px) {
    .results {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .card {
        width: auto;
    }

    .navbar ul {
        margin-right: 0px;
        float: left;
    }

    .logo {
        padding-left: 30px;
        width: 100%;

    }

    .navbar ul li,
    .navbar ul ul li {
        display: block;
        width: 100%;
    }

    .navbar ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .navbar ul ul ul li {
        position: static;
    }

    .navbar ul ul li {
        border-bottom: none;
    }

    .navbar ul ul a {
        padding-left: 80px;
    }

    .nav-show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        font-family: "Bellefair", serif;
    }

    .nav-show:hover {
        color: var(--maybe);

    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    .navbar ul li a:hover {
        box-shadow: none;
    }

    .nav-show+a,
    ul {
        display: none;
    }

    [id^=nav-btn]:checked+ul,
    [id^=gen-btn]:checked+ul {
        display: block;
    }

    .searchInputs {
        flex-direction: column;
    }
}